@media (min-width: 576px) {
  .logo-img {
    width: 150px; }
  .slider-girl__slide {
    outline: none;
    padding: 0 40px; }
    .slider-girl__slide img {
      width: 285px;
      transition: transform 1s, margin-left 1s; }
    .slider-girl__slide:not(.slick-active) {
      filter: grayscale(1); }
  .prev-girl, .next-girl {
    top: 127%; }
  .modal-content {
    border: 1px solid #9f957f;
    background-image: url(../img/modal/bg.jpg);
    background-size: 142%;
    background-position-x: -200px;
    background-repeat: no-repeat; } }

@media (min-width: 768px) {
  .title_big {
    font-size: 63px; }
  .ban {
    right: auto;
    left: 0; }
  .home {
    background-position-x: center; }
    .home__title {
      line-height: 55px; }
    .home__discription {
      font-family: "BanderaPro";
      font-size: 42px; }
    .home__inner {
      width: 90%;
      position: absolute;
      left: 10%; }
  .girl__description {
    top: 20%;
    left: 28%;
    transform: translateX(-50%);
    width: 180px;
    padding-top: 50px; }
  .girl__sub-title {
    top: -60px;
    left: -100px;
    font-size: 50px; }
  .girl .slick-prev:before, .girl .slick-next:before {
    font-size: 80px;
    color: #9f957f; }
  .girl__btn {
    bottom: -100px; }
  #name-girl {
    font-size: 60px; }
  .slider-girl {
    width: 500px;
    margin: 0 auto;
    transform: translateX(10%);
    position: absolute;
    right: 10%; }
    .slider-girl img {
      width: 225px; }
  .prev-girl,
  .next-girl {
    top: 105%; }
  .prev-girl {
    left: -110px; }
  .next-girl {
    left: 0; }
  .nav-link {
    font-size: 32px; }
  .servise {
    padding-top: 125px; }
    .servise .btn {
      width: 150px;
      padding: 5px 0; }
    .servise__info-programs {
      width: 100%;
      right: 3px; } }

@media (min-width: 992px) {
  .home p {
    width: 50%; }
  .home__discription {
    margin-left: -50px; }
  .ban {
    left: auto;
    right: 10px; }
  .contact {
    padding: 0; }
  .slider-girl {
    right: 22%; }
  .nav-link {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .home {
    background-position-x: center; }
    .home__title {
      line-height: 68px; }
  .contact__info {
    padding: 45px 130px 45px 80px; }
  .ban img {
    width: 80px; }
  .girl {
    padding: 0; }
    .girl__description {
      left: 40%; }
  .navbar {
    background-color: transparent; }
  .title_big {
    font-size: 90px; }
  .title_medium {
    font-size: 60px; } }

@media (min-width: 1600px) {
  .girl__description {
    left: 43%;
    transform: translateX(-50%); }
  .servise__info-programs {
    width: 65%;
    right: 20%; }
  .slider-girl {
    right: 33%; } }

@media screen and (min-height: 600px) and (max-height: 960px) {
  .home p {
    font-size: 14px; }
  .home__inner {
    width: 70%;
    position: absolute;
    top: 20%;
    left: 8%; }
  .girl__description {
    top: 30%; }
  .girl .title_medium {
    font-size: 38px; }
  .contact {
    padding-top: 120px; }
    .contact__info {
      padding: 5px 80px 5px 50px; }
  .slider-girl {
    top: 35%; }
    .slider-girl img {
      width: 200px; }
  .servise____sub-title {
    margin-left: 20% !important; } }

@media screen and (min-height: 800px) and (max-height: 960px) {
  .slider-girl {
    top: 35%; }
    .slider-girl img {
      width: 300px; }
  .contact__info {
    padding: 45px 80px 45px 50px; }
  .contact .container {
    margin-top: 80px; }
  .servise {
    padding-top: 20%; } }

@media screen and (min-height: 960px) and (max-height: 1024px) {
  .home__inner {
    width: 90%;
    position: absolute;
    top: 30%;
    left: 7%; }
  .contact .container {
    margin-top: 120px; }
  .contact__info {
    padding: 45px 120px 45px 50px; }
  .girl__description {
    top: 20%; }
  .girl .title_medium {
    font-size: 62px; }
  .girl__btn {
    bottom: -200px; }
  .slider-girl {
    top: 35%; }
    .slider-girl img {
      width: 350px; } }

@media screen and (min-height: 1024px) {
  .home__inner {
    top: 20%; }
  .slider-girl {
    top: 35%; }
    .slider-girl img {
      width: 350px; }
  .contact .container {
    margin-top: 150px; } }
