@media (min-width: 576px) {
  .logo-img {
    width: 150px; }
  .slider-girl__slide {
    outline: none;
    padding: 0 40px; }
    .slider-girl__slide img {
      width: 285px;
      transition: transform 1s, margin-left 1s; }
    .slider-girl__slide:not(.slick-active) {
      filter: grayscale(1); }
  .prev-girl, .next-girl {
    top: 127%; }
  .modal-content {
    border: 1px solid #9f957f;
    background-image: url(../img/modal/bg.jpg);
    background-size: 142%;
    background-position-x: -200px;
    background-repeat: no-repeat; } }

@media (min-width: 768px) {
  .title_big {
    font-size: 63px; }
  .ban {
    right: auto;
    left: 0; }
  .home {
    background-position-x: -390px; }
    .home__title {
      line-height: 55px; }
    .home__discription {
      font-family: "BanderaPro";
      font-size: 42px; }
    .home__inner {
      width: 90%;
      position: absolute;
      bottom: 15%;
      left: 10%; }
  .girl__description {
    top: 20%;
    left: 28%;
    transform: translateX(-50%); }
  .girl__sub-title {
    top: -60px;
    left: -100px;
    font-size: 50px; }
  .girl .slick-prev:before, .girl .slick-next:before {
    font-family: none;
    font-size: 80px;
    color: #9f957f; }
  .slider-girl {
    width: 500px;
    margin: 0 auto;
    transform: translateX(10%); }
  .prev-girl,
  .next-girl {
    top: 105%; }
  .prev-girl {
    left: -150px; }
  .next-girl {
    left: 0; }
  .nav-link {
    font-size: 18px; } }

@media (min-width: 992px) {
  .home {
    background-position-x: inherit; }
    .home p {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px 30px;
      width: 50%; }
    .home__discription {
      margin-left: -50px; }
  .ban {
    left: auto;
    right: 10px; }
  .contact {
    padding: 0; } }

@media (min-width: 1200px) {
  .home {
    background-position-x: left; }
    .home__title {
      line-height: 90px; }
  .contact__info {
    padding: 45px 130px 45px 80px; }
  .ban img {
    width: 80px; }
  .girl {
    padding: 0; }
  .navbar {
    background-color: transparent; }
  .title_big {
    font-size: 90px; }
  .title_medium {
    font-size: 60px; } }

@media screen and (min-height: 768px) and (max-height: 960px) {
  .home p {
    font-size: 14px; }
  .home__inner {
    width: 70%;
    position: absolute;
    bottom: 20%;
    left: 8%; } }

@media screen and (min-height: 960px) and (max-height: 1024px) {
  .home__inner {
    width: 90%;
    position: absolute;
    bottom: 30%;
    left: 7%; } }

@media screen and (min-height: 1024px) {
  .home__inner {
    top: 20%;
    bottom: auto; } }
