.girl {
  padding: 140px 0 185px 0; }
  .girl .title {
    font-size: 42px; }
  .girl__sub-title {
    top: -146px; }

.slider-girl img {
  width: 150px; }

.contact__info {
  padding: 45px 10px 45px 10px; }

.servise {
  background-position-x: -785px; }
  .servise .card-header {
    padding: 10px 15px; }
    .servise .card-header .btn {
      font-size: 14px !important; }

.crossed-text {
  text-decoration: line-through; }

@media (min-width: 330px) {
  .servise .card-header {
    padding: 10px 15px; }
    .servise .card-header .btn {
      font-size: 16px !important; } }

@media (min-width: 420px) {
  .slider-girl {
    right: -45px; }
  .servise .card-header {
    padding: 10px 30px; }
    .servise .card-header .btn {
      font-size: 18px !important; } }

@media (min-width: 440px) {
  .girl {
    padding: 140px 0 210px 0; }
  .slider-girl img {
    width: 185px; }
  .servise .card-header .btn {
    font-size: 20px !important; } }

@media (min-width: 520px) {
  .girl {
    padding: 140px 0 225px 0; }
  .slider-girl img {
    width: 215px; }
  .servise .card-header {
    padding: 10px 80px; }
    .servise .card-header .btn {
      font-size: 20px !important; } }
