@media(min-width:576px){
    .logo-img{
        width: 150px;
    }
    .slider-girl__slide{
        outline: none;
        padding: 0 40px;
        
        img{
            width: 285px;
            transition: transform 1s, margin-left 1s;
        }
        &:not(.slick-active){
            filter: grayscale(1);
        }
    }

    .prev-girl, .next-girl {
        top: 127%;
    }
    .modal-content{
        border: 1px solid #9f957f;
        background-image: url(../img/modal/bg.jpg);
        background-size: 142%;
        background-position-x: -200px;
        background-repeat: no-repeat;
    }
}

@media(min-width:768px){
    .girl{

        &__description{
            top: 20%;
            left: 28%;
            transform: translateX(-50%);
        }

        &__sub-title{
            top: -60px;
            left: -100px;
            font-size: 50px;
        }

        .slick-prev:before, .slick-next:before{
            font-family: none;
            font-size: 80px;
            color: #9f957f;
        }
        
    }

    .slider-girl{
        width: 500px;
        margin: 0 auto;
        transform: translateX(10%);
    }

    .prev-girl,
    .next-girl{
        top: 105%;
    }

    .prev-girl{
        left: -150px;
    }
    
    .next-girl{
        left: 0;
    }
    .nav-link{
        font-size: 18px;
    }

    .navbar{
        background-color: rgba($color: #000000, $alpha: .7);
    }
}

@media(min-width:992px){
    .home{
        padding-left: 190px;
        p{
            background-color: rgba($color: #000, $alpha: 0.8);
            padding: 20px 30px;
            width: 50%;
        }
        &__discription{
            margin-left: -50px;
        }
        &__title{
            line-height: 90px;
        }
    }
    .title{

        &_big{
            font-size: 90px;
        }
    
        &_medium{
            font-size: 60px;
        }
    }

    .contact{
        padding: 0;
    }
}

@media(min-width:1200px){
    .contact{
        &__info{
            padding: 45px 130px 45px 80px;

        }
    }
    .ban{
        img{
            width: 80px;
        }
    }
    .girl{
        padding: 0;
    }
    .navbar{
        background-color: transparent;
    }
}