.girl{
    padding: 140px 0 185px 0;

    .title{
        font-size: 42px;
    }

    &__sub-title{
        top: -146px;
    }
}

.slider-girl{
    img{
        width: 150px;
    }
}

.contact{
    &__info{
        padding: 45px 10px 45px 10px;
    }
}

.servise{
    background-position-x: right;
}

@media(min-width:420px){
    .slider-girl{
        right: -45px;
    }
}

@media(min-width:440px){
    .girl{
        padding: 140px 0 210px 0;
    }
    .slider-girl{
        img{
            width: 185px;
        }
    }
}

@media(min-width:520px){
    .girl {
        padding: 140px 0 225px 0;
    }
    .slider-girl{
        img{
            width: 215px;
        }
    }
}